@media screen and (max-width: 420px){
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* BACKGROUND COLOR */
    #lezioni .row{
        background-color: yellow;
    }

    #why .row{
        background-color: yellow;
    }
 } 
    