@media screen and (max-width: 420px){
    /* LEZIONI */
    #lezioni .row{
        background-color: yellow;
    }
    #lezioni .right{
        clear: both;
    }
    h1{
        text-align: center;
        width: 50%;
    }
    /* SPETS */
    #steps .central{
        clear: both;
    }
    #steps .right{
        clear: both;
    }
}